# Dependency directories
node_modules/
npm-debug.log

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Compiled binary addons (if any)
build/Release

# Output of 'npm pack'
*.tgz

# Editor/IDE specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


PORT=8000
HOSTNAME=127.0.0.1